version: '3.8'

services:
    trafik:
      # The official v3 Traefik docker image
      image: traefik:v3.1
      # Enables the web UI and tells Traefik to listen to docker
      command: --api.insecure=true --providers.docker
      ports:
        # The HTTP port
        - "80:80"
        # The Web UI (enabled by --api.insecure=true)
        - "8080:8080"
      volumes:
        # So that Traefik can listen to the Docker events
        - /var/run/docker.sock:/var/run/docker.sock

    postgresdb:
      image: postgres:16-alpine
      restart: always
      env_file: ./.env
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 10s
        retries: 5
      environment:
        - POSTGRES_USER=$DB_USER
        - POSTGRES_PASSWORD=$DB_PASSWORD
        - POSTGRES_DB=$DB_NAME
      ports:
        - "$DOCKER_DB_PORT:$LOCAL_DB_PORT"
      expose:
        - "5432"
      volumes:
        - ./db:/var/lib/postgresql/data
      networks:
        - hlove-network    

    app:
      depends_on:
        - postgresdb
      #build: ./hlove-app #there has to be a docker file here that is then built
      image: ghcr.io/kenmusembi/hlove_backend:${IMAGE_VERSION}
      command: sh -c "cd hlove && npm install && npm start"      
      working_dir: /
      restart: always
      env_file: ./.env            
      expose:        
        - "3000"
      ports:
        - "$NODE_LOCAL_PORT:$NODE_DOCKER_PORT"
      environment:
      - DB_HOST=postgresdb
      - DB_USER=$DB_USER
      - DB_PASSWORD=$DB_PASSWORD
      - DB_NAME=$DB_NAME
      - DB_PORT=$DOCKER_DB_PORT
      stdin_open: true
      tty: true
      healthcheck:
        test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1
        interval: 5s
        retries: 5        
        timeout: 10s  
      volumes:
        - ./:/hlove        
      networks:
        - hlove-network
      labels:
      - "traefik.http.routers.app.rule=Host(`app.docker.localhost`)"  
    
volumes:
  db: ~
  hlove:     

networks:
  hlove-network:
    driver: bridge
  
